/* App.css */
h1 {
  font-size: 2rem;
  text-align: center;
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #f4f4f4;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  color: gray;
}
